* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}
.user-header {
    background-color: rgba(63, 166, 245, 0.792);
}
.funcionario-header {
    background-color: rgb(252, 115, 115);
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: solid 2px black;
}
.purple-button{
    padding: 8px;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    background-color: #4F46E5;
    transition: .3s;
}

.purple-button:disabled{
    opacity: .6;
}

.purple-button:hover {
    background-color: #2e24e2;

}

.form-section {
    height: 90vh;
    
}

.form {
    padding: 50px;
    background-color: rgba(208, 212, 212, 0.408);
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 700px;
    box-shadow: 1px 1px 3px rgba(197, 196, 196, 0.781);
}
.form-input-label p, .form-input-label input{
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
}

.form-input-label input{
    border: solid 1px rgb(198, 198, 199);
    outline: none;
    padding: 5px;
    
}
.submit-buttons-container  {
    display: flex;
    justify-content: space-evenly;
}
.submit-button {
    font-weight: 500;
    font-size: 1rem;
    background-color: rgb(108, 168, 248);
    padding: 10px;
    margin: 20px auto;
    border: solid 2px rgba(108, 145, 248, 0.862);
    cursor: pointer;
    
    box-shadow: 1px 1px 4px rgb(186, 186, 186);
}

.submit-button:hover {
    background-color: rgb(91, 158, 245);

}

.submit-button:active {
    transform: translate(1px,1px);
    box-shadow: none;
}
.info-section {
    padding: 20px;
}
.info {
    margin-bottom: 20px;
}

.checklist {
    width: auto;
    gap: 15px;
    display: flex;   
}
.checklist input[type=checkbox] {
    padding-left: 20px;
}


textarea {
    height: 200px;
    width: 100%;
}