@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindui.com/components/preview */

.btn {
  @apply text-base font-medium rounded-lg p-3;
}

.btn--primary {
  @apply bg-sky-500 text-white;
}

.btn--secondary {
  @apply bg-slate-100 text-slate-900;
}

input[type='checkbox'][readonly]{
  pointer-events: none;
}

label[readonly]{
  pointer-events: none;
}